
form {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 25px;
   
    align-items: center;
    
    justify-content: center;
}




#hey{
    background-color:#044b51d6;
}

#cole{
    background-color:#044b51b6;
    text-align: center;
    padding: 20px 25px;
   
    align-items: center;
    
    justify-content: center;
}

#contenedor{
    display: flex;
    flex-direction: column;
    background-color: tra;

    text-align: center;
    padding: 20px 25px;
   
    align-items: center;
    
    
    justify-content: center;
}

#cuerpo{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(74, 100, 141), #575c69);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,rgb(74, 100, 141), #575c69, #575c69); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#tarjeta{
    background-color: #064df5;


}

#nav{
    background: #111112e4;
}

#input{
    background: #48608583;
}
#buton{
    background-color:#0c4d52;
}



#icon{
    height: 100px; ;
    width: 100px;
}

#opciones{
    height: 35px; ;
    width: 35px;
}
#car{
    
    
    height: 650px;
    width: 1000px;
    align-items: center;
    
    
    justify-content: center;
    
    
}

#lol{
    background-color:#8eb7bbe8;
    
    text-align: center;
    padding: 20px 25px;
   
    align-items: center;
    
    
    justify-content: center;
}

#in{
    background-color: rgb(204, 203, 203);
}

#logi{
    width: 60%;
    padding: 5px;
}
#logito{
    float: left;
    margin-right: 10px;
}

#letras{
    color: #eeb0b9;

}